.bg-black {
    background-color: #212529;
}

.tac {
    text-align: center;
    color: #212529;
}

.wh {
    color: white;
}

.ilb {
    display: inline-block;
}

.ta {
    margin-top: -16%;
    margin-left: 10%;
    width: 80%;
}

.mgt {
    margin-top: 3%;
}

.mgb {
    margin-bottom: 10%;
}

.bta {
    display: inline-block;
    margin-left: 105%;
    vertical-align: top;
    margin-top: -24%;
}